html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
.container{
    max-width: 1100px;
    margin: auto;

    /* font-family: 'Handlee', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif; */
}

/* header start */
header{
    background-color: #24a19c;
    padding: 0 1%;
    text-align: center !important;
}
.logo{
    text-align: center !important;
    color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding-top: 9px;
    margin: auto;

}
.logo a i{
    color: #fff;
    display: block;
}
.nav ul li{
    display: block;
}
.nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    padding: 0 20px;
    font-size: .9rem;
    font-family: 'Roboto', sans-serif;
    transition: .4s;
}
.nav ul li a:hover{
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
}


/* header start */


/* banner starts */
#banner-section{
    background-image: url(Images/banner.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-contents{
    padding: 70px 10px;
    text-align: center;
}
.banner-contents h1{
    width: 100%;
    margin: 15px auto;
    font-size: 3rem;
    background:rgba(255,255,0,0.884);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Handlee', cursive;
}
.banner-contents p{
    width: 300px;
    margin: 15px auto;
    background: rgb(0,128,0);
    color: #fff;
    padding: 10px;
    font-size: 1.5rem;
}
.banner-contents .btn{
    width: 160px;
    padding: 10px;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    background: rgb(0,128,0);
    transition: .5s;
    color: #fff;
}
.banner-contents .btn:hover{
    transform: scale(1.2);
}
/* banner ends */


/* about starts */
#about{
    padding: 1%;
}
.about-content{
    text-align: center;
}
.about-content h1{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bolder;
}
.about-content p{
    font-size: 1rem;
    margin-bottom: 10px;
}
/* about ends */


/* food starts */
#food{
    padding: 1%;
}
.card-body{
    text-align: center;
}
.card-body img{
    max-width: 100%;
    height: auto;
    display: block;
}
.iteam-desc{
    background: rgb(165,164,164);
}
.iteam-name{
    background: green;
    color: #fff;
    padding: 10px;
}
.iteam-desc > p{
    font-size: .9rem;
    padding: 10px;
    font-weight: bold;
}
.card{
    transition: .5s;
    border-radius: 7px;
    box-shadow: 3px 4px 10px 4px #888;
}
.card:hover{
    transform: scale(1.05);
}
/* food end */


/* contact starts */
#contact{
    padding: 1%;
    background: #595b83;
}
.contact-details{
    color: #fff;
    text-align: center;
    padding: 20px 0px;
}
.map{
    width: 100%;
    height: 250px;
}
.contact-details p, address{
    font-size: .9rem;
    color: #fff;
    text-align: center;
}

/* contact end */


/* footer start */
footer{
    padding: 1%;
    background: #060930;
    color: #fff;
}
footer p{
    line-height: 32px;
    font-size: .9rem;
    text-align: center;
}
.social-menus{
    text-align: center;
}
.icon-style{
    color: #fff;
    width: 32px;
    height: 32px;
    padding-top: 7px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: .5s;
    margin: 0 10px;
    text-align: center;
}
.icon-style:hover{
    background: grey;
    transform: scale(1.2);
}

/* footer end */


[class*= "col-"]{
    width: 100%;
}

[class*= "col-"]{
    float: left;
    padding: 15px;
}
.row{
    width: 100%;
}
.row::after{
    content: '';
    clear: both;
    display: table;
}

/* small device */
@media (min-width: 576px){

    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}


/* medium screen */
@media (min-width: 768px){

    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

/* large screen  */

@media (min-width: 992px){

    .logo{
        text-align: left;
    }
    .nav ul{
        text-align: right;
    }
    .nav ul li{
        display: inline-block;
        transition: .5s;
    }
    .nav ul li:hover{
        background-color: #24a19c; 
        transform: scale(1.2);  
        text-decoration: underline;
        border-radius: 0;
    }

    #banner-section{
        position: relative;
        height: 100vh;
    }
    .banner-contents{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .banner-contents h1{
        width: 700px;
        font-size: 3.5rem;
    }
    .banner-contents p{
        width: 500px;
        font-size: 2rem;
    }


    footer p{
        text-align: left;
    }
    .social-menus{
        text-align: right;
    }

    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}